{{ define "New" }}
   <h2>Fill the details to signup</h2>
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Age </label><input type="text" name="age" /><br />
      <label> Qualification </label><input type="text" name="qualification" /><br />
      <label> College </label><input type="text" name="college" /><br />
      <label> Email </label><input type="text" name="email" /><br />
      <input type="submit" value="signup" />
    </form>
{{ end }}
